.grid .grid-item,
.grid .grid-sizer {
  width: 50%; }
  .grid .grid-item img,
  .grid .grid-sizer img {
    width: 100%; }
  @media (min-width: 600px) {
    .grid .grid-item,
    .grid .grid-sizer {
      width: 33.33%; } }
  @media (min-width: 1000px) {
    .grid .grid-item,
    .grid .grid-sizer {
      width: 20%; } }

.grid .grid-item--width2 {
  width: 100%; }
  .grid .grid-item--width2 img {
    width: 100%; }
  @media (min-width: 600px) {
    .grid .grid-item--width2 {
      width: 66.66%; } }
  @media (min-width: 1000px) {
    .grid .grid-item--width2 {
      width: 40%; } }

.columns {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
          column-gap: 0; }
  .columns .grid-item {
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
    width: 50vw; }
    .columns .grid-item img {
      width: 100%; }
  @media (min-width: 600px) {
    .columns {
      -webkit-column-count: 3;
              column-count: 3; }
      .columns .grid-item {
        width: 33.33vw; } }
  @media (min-width: 1000px) {
    .columns {
      -webkit-column-count: 5;
              column-count: 5; }
      .columns .grid-item {
        width: 20vw; } }

.form-challenge {
  border: #94989e50 2px solid;
  margin: 0 auto;
  width: 90vw;
  margin-top: 10px;
  position: relative; }
  .form-challenge .container .checkbox-container {
    border: #94989e50 1px solid;
    border-radius: 10%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 25px;
    margin-top: 5px;
    white-space: nowrap; }
    @media (min-width: 600px) {
      .form-challenge .container .checkbox-container {
        padding: 0 5px;
        margin: 0 5px 0 0; } }
  .form-challenge .container section {
    border-bottom: #94989e50 1px solid;
    margin-top: 10px;
    padding: 10px 0; }
    .form-challenge .container section h3 {
      font-weight: bold;
      margin-bottom: 20px; }
    .form-challenge .container section .form-check {
      display: inline-block; }
    .form-challenge .container section p {
      margin-bottom: 10px; }
    .form-challenge .container section .section-body {
      padding-left: 20px; }
    .form-challenge .container section .sub-section {
      padding: 20px 0 0 20px; }
      .form-challenge .container section .sub-section .sub-question {
        padding-left: 20px; }
        .form-challenge .container section .sub-section .sub-question div {
          margin-bottom: 10px; }
        @media (min-width: 1000px) {
          .form-challenge .container section .sub-section .sub-question {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
            .form-challenge .container section .sub-section .sub-question > div {
              width: 50%; } }
  .form-challenge .container .disabled {
    pointer-events: none;
    opacity: 0.4; }
  .form-challenge .terms header {
    border-bottom: #94989e50 1px solid;
    padding-bottom: 5px; }
  .form-challenge .not-terms {
    margin-bottom: 70px; }
  .form-challenge button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0; }
